<screen>
  <page>
    <box fit class="header" style="color: white">
      {{link-to 'Flickr' 'application'}}
    </box>
    {{!--
    <hbox fit>
      <box>Tab 1</box>
      <box>Tab 2</box>
      <box>Tab 3</box>
      <box>Tab 4</box>
    </hbox>
    --}}

    {{liquid-outlet}}

  </page>
</screen>
